[Desktop Entry]
Encoding=UTF-8
Name=PROXYNODE
Comment=PROXYNODE P2P Cryptocurrency
Comment[fr]=PROXYNODE, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PROXYNODE, eşten eşe kriptografik sanal para birimi
Exec=proxynode-qt %u
Terminal=false
Type=Application
Icon=proxynode128
MimeType=x-scheme-handler/proxynode;
Categories=Office;Finance;
